*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************************ page accueil => intro ************************************************** */
.premier{
    min-height: 100vh;
}

#fond{
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
    filter: brightness(0.7); /* brightness => luminosité */
    vertical-align: top;
}


/* ***************************** Nav barre ********************************** */

.intro{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    z-index: 1;
    color:transparent; /* retire les boutons des onglet */
    justify-content: space-between;/*  Les éléments s'affichent avec un espace égal entre eux. */
    /*border: 5px solid red;*/
}
.nav{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 40%;
    font-size: 30px;
    gap:15px;
    align-items: center;
    justify-content: space-between; 
    padding:0 30px 0 30px;
    /*border: 5px solid rgb(51, 255, 0);*/

}


/* bouton de la nav barre */
.purchase{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15%;
    font-weight: 700; /* gras de la police */
    font-size:18px ;
    padding: 5px;
    margin: 10px;
    border-radius: 0 50px 50px 0;
    background: rgb(10, 147, 10);
   /* border: 5px solid blue;*/
}

.purchase i  {
    color:white;
    width: 50px;
    text-align: center;
}

/* ***************************** page acceuil ********************************** */

.accueil{
    display:flex;
    position: relative;
    flex-direction: column; /* position en colonne */
    justify-content: space-between;
    /*align-content:flex-end;*/
    height: 100vh;
    
    
}

.premier h1{
   /* position: absolute;
    top:200px;
    right: 350px;*/
    padding: 150px;
    display: flow-root;
    text-align: center;
    justify-content: center;
    align-content:center ;
    color:#f3f3f3;
    font-size: 60px;
    line-height: 83px;
    /*letter-spacing: -3px; espace entre les lettres */
   
}

.bandeau{
    display: flex;
    position: absolute;
    top:550px;  /* vertical */
    left: 220px;/* horizontale */
    padding: 5px;
    height: 200px;
    width: 70%;
    justify-content: space-around; /* Les éléments s'affichent avec un espacement égal à l'entour d'eux.  */
    align-items:flex-end;
    background-color: #f3f3f3;
    font-size:xx-large;
    text-align: center;
    gap:10px;
    
 }
.premier H2{
    color: rgb(10, 147, 10);
    font-weight: 800;
 }

 /* ************************************************ page accueil => intro ************************************************** */

#Demo{
    display:flex;
    flex-direction:column;
    min-height: 100%;
    min-width: 100%;
    border: 5px solid purple; /* a enlever à la fin  */
    background: #f8f9fa; 
 }
 /* # pour appeler les id */
#Demo h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 42px;
    line-height: .8;
    font-weight: 900;
    letter-spacing: -2px;
    border: 5px solid rgb(31, 165, 147);
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card1{
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    width: 460px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:5px solid red;
 }

 .card1 img {
    height: 80%;
    width: 100%;
    overflow: hidden;
    border:5px solid yellow;
 }
 .card h2{
    font-size: 35px;
 }

.purchase2 {
    font-size: 20px;
    height: 50px;
    background-color:rgb(10, 147, 10) ;
    visibility: hidden; /* le button est invisible */
    cursor: pointer;
    border: 5px solid rgb(191, 84, 13);
}

.purchase2 a{
    color: #f3f3f3;
}

.purchase2:hover{
    cursor: pointer;
    visibility: visible;
}